body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: span 12;
  background-color: blue;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
  margin-bottom: 24px;
}

nav {
  grid-column: span 12;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 365px;
  display: inline-block;
  margin: 1em 1em 1em 1em;
}

nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: blue;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 24px;
  font-size: 30px;
}

main {
  grid-column: span 12;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.specialp {
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.specialp2 {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

.imgbox {
  width: 400px;
  border: 5px solid blue;
}

.imgbox2 {
  width: 385px;
  border: 5px solid blue;
}

.imgbox3 {
  width: 580px;
  border: 5px solid blue;
}

.floatimage {
  width: 400px;
  float: right;
  border: 5px solid blue;
  margin-left: 10px;
}
