.specialp {
  font-family: Helvetica, Arial;
  color: white;
  text-align: right;
  padding-right: 900px;
  margin-bottom: 150px;
}

h1 {
  font-family: Impact, Helvetica, Arial;
  color: blue;
  text-align: left;
  font-weight: bold;
  padding-left: 180px;
  font-size: 125px;
  margin-bottom: 500px;
}

.specialp3 {
  padding-left: 200px;
}

.specialp2{
  font-family: Helvetica, Arial;
  color: blue;
  text-align: center;
  padding-right: 865px;
}

.spanstyle {
  font-family: Impact, Helvetica, Arial;
  color: orange;
  font-weight: bold;
}

.spanstyle2 {
  font-size: 10px;
}
a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

body {
  background-image: url(Soul.png);
  background-repeat: no-repeat;
}

img {
  padding-left: 225px;
}
